<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,-25" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
  <link rel="stylesheet" href="estilos/style.css">
  <script src="./js/script_eventos.js"></script>
  <title> Leila Bolos- Historia </title>
  <link rel="shortcut icon" href="../logos/logo6.png" type="image/x-icon">
</head>

<body class="icon-bg" id="top">
  <header>
    <%-include('./parciais/header.ejs') %>
  </header>

  <main>
    <article class="historia">
      <h2 class="titulo_historia">Uma História de Sabores </h2>
      <img class="fotoperfil" src="../img/leila-foto.png" alt="Foto da Leila">
      <p> A <i>Bolos da Leila</i> tem uma história cheia de dedicação e paixão. Leila começou sua jornada na confeitaria aos 17 e, desde então, nunca parou. Com mais de 30 anos de experiência, ela sempre prezou por estabelecer uma relação próxima com os clientes e aprimorar constantemente suas receitas, ganhando assim a confiança da clientela.</p>
      <p>Até 2023, Leila fazia seus bolos em sua casa modesta, de apenas três cômodos. Isso permitiu que ela desenvolvesse um toque pessoal em cada bolo e doce que saía da sua cozinha. No entanto, com o crescimento da demanda e o sonho de expandir, Leila finalmente conseguiu realizar um sonho antigo: mudou-se para um espaço próprio e mais amplo, onde pode criar com mais liberdade e atender melhor seus clientes.</p>
      <p>Hoje, a loja é o reflexo desse trabalho duro e carinho. Oferecemos bolos e doces personalizados, feitos com ingredientes de alta qualidade e entregues rapidamentepara que suas comemorações sejam ainda mais especiais. Cada detalhe é cuidadosamente pensado para tornar suas celebrações ainda mais especiais. Visite nossa loja ou faça sua encomenda online e faça parte dessa história doce. Seja para um aniversário, casamento ou qualquer celebração, aqui você encontrará não apenas deliciosas sobremesas, mas também uma pessoa dedicada a fazer cada momento valer a pena.</p>
    </article>
  </main>

  <footer>
    <%-include('./parciais/footer.ejs') %>
  </footer>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="script.js"></script>
</body>

</html>
