<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,-25" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
  <link rel="stylesheet" href="estilos/style.css">
  <script src="./js/script_eventos.js"></script>
  <title> Leila Bolos- Contato </title>
  <link rel="shortcut icon" href="../logos/logo6.png" type="image/x-icon">
</head>

<body class="icon-bg" id="top">
  <header>
    <%-include('./parciais/header.ejs') %>
  </header>

  <main style="overflow-x: hidden;">
    <!-- Campo de recuperação de senha -->
     <div class="pag-contato">
     <div class="form-contato">
      <h3>Recupere a sua senha</h3>
      <p>O link para a recuperação da senha será enviado por e-mail !</p>
      <form action="" method="POST">
                
        <div>
          <label for="emial">E-mail</label>
          <textarea class="recuperacao_senha" name="mensagem" required></textarea>
        </div>

        <button class="button">Enviar</button>    
      </form>
     </div>

  </main>

  <footer>
     <%-include('./parciais/footer.ejs') %>
  </footer>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="script.js"></script>
</body>

</html>