<nav class="direcao_footer">
    <ul>
      <li><a href="#top">^ topo da página</a></li>
    </ul>

    <ul class="logos_footer">
      <li><a class="texto-footer" href="https://www.google.com/maps/place/Bolo+da+Leila/@-23.669609,-46.744016,14z/data=!4m6!3m5!1s0x94ce5186619a2137:0xa4a58de34407d9e3!8m2!3d-23.6696087!4d-46.7440156!16s%2Fg%2F11gcz3kbft?hl=pt-BR&entry=ttu&g_ep=EgoyMDI0MTAxNi4wIKXMDSoASAFQAw%3D%3D"
        target="_blank">Horário de atendimento:<br>seg a sáb das 9h às 18h.</a></li>
      <li><a href="/contato"><img class="logo_footer_filho" src="icone/local.png" alt="icone_mapa"></a>
      <li><a href="https://api.whatsapp.com/send?phone=5511980802132" target="_blank"><img class="logo_footer_filho" src="icone/whatsapp.png" alt="icone_whatsapp"></a></li>
      <li><a href="mailto:leila76bolos@gmail.com"><img class="logo_footer_filho" src="icone/envelope.png" alt="logo_envelope"></a></li>
      <li><a href="https://www.instagram.com/leilaabolos/" target="_blank"><img class="logo_footer_filho"
            src="icone/instagram.png" alt="instagram"></a></li>

    </ul>
  </nav>