<div class="hamburger">
    <div></div>
    <div></div>
    <div></div>
  </div>
  <ul class="menu">
    <li> <a class="link_logo" href="/"><img class="logo" src="logos/logo6.png" alt="logo_leilabolos" /></a></li>
    <li> <a href="/"><img class="logo" src="logos/Bolos da Leila.png" style="width: 22rem;"
          alt="logo_leilabolos" /></a></li>
    <li></li>
    <li></li>
    <li><a href="/historia">História</a></li>
    <li><a href="/cardapio">Cardápio</a></li>
    <li><a href="/contato">Contato</a></li>
    <li>
      <!-- Carrinho no Menu (CORRIGIDO: adicionado data-target) -->
      <div id="carrinho-menu">
        <a href="#" data-toggle="modal" data-target="#carrinhoModal">
          <img class="logo_menu" src="logos/carrinho-de-compras.png" alt="logo_carrinho" />
        </a>
      </div>

      <a href="/login"><img class="logo_menu" src="logos/do-utilizador.png" alt="logo_perfil"></a>
      <a id="logo_home" href="/"><img class="logo_menu" src="logos/home.png" alt="logo_home"></a>
    </li>
  </ul>

  <!-- Modal Carrinho -->
  <div class="modal fade" id="carrinhoModal" tabindex="-1" role="dialog" aria-labelledby="carrinhoModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="carrinhoModalLabel">Seu Carrinho</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span class="material-symbols-outlined">cancel</span>
          </button>
        </div>
        <div class="modal-body">
          <table id="tabelaCarrinho" class="table">
            <thead>
              <tr>
                <th>Produto</th>
                <th>Preço Unitário</th>
                <th>Qtde</th>
                <th>Subtotal</th>
                <th></th>
              </tr>
            </thead>
            <tbody id="itensCarrinho"></tbody>
            <tfoot>
              <tr>
                <td colspan="3">Total:</td>
                <td id="totalCarrinho" colspan="2">R$ 0,00</td>
              </tr>
            </tfoot>
          </table>
          <!-- <ul id="itensCarrinho"></ul>
          <p id="totalCarrinho">Total: R$ 0,00</p> -->
        </div>
        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button> -->
          <a href="/checkout" class="btn btn-primary">Finalizar Compra</a>
        </div>
      </div>
    </div>
  </div>