<div class="hamburger">
    <div></div>
    <div></div>
    <div></div>
  </div>
  <ul class="menu">
    <li> <a class="link_logo" href="#top"><img class="logo" src="logos/logo6.png" alt="logo_leilabolos" /></a></li>
    <li> <a href="/"><img class="logo" src="logos/Bolos da Leila.png" style="width: 22rem;"
          alt="logo_leilabolos" /></a></li>
    <li></li>
    <li></li>
    <li><a href="/historia">História</a></li>
    <li><a href="/cardapio">Cardápio</a></li>
    <li><a href="/contato">Contato</a></li>
    <li>
      <!-- Carrinho no Menu (CORRIGIDO: adicionado data-target) -->
      <div id="carrinho-menu">
        <a href="#" data-toggle="modal" data-target="#carrinhoModal">
          <img class="logo_menu" src="logos/carrinho-de-compras.png" alt="logo_carrinho" />
        </a>
      </div>

      <a href="/login"><img class="logo_menu" src="logos/do-utilizador.png" alt="logo_perfil"></a>
    </li>
  </ul>